.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  border-bottom: 1px solid #000;
  padding: 0 5vw;
}

.logo-name {
  display: flex;
  min-width: 275px;
}

.title a:hover {
  color: #64748b;
}

.nav-link a:hover {
  color: #64748b;
}

.navbar-icon {
  height: 80px;
  width: 80px;
}

.nav-links-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.cart-icon {
  height: 50px;
  width: 50px;
}

.cart-icon:hover {
  cursor: pointer;
}

.cart-icon-container {
  position: relative;
}